{% extends "auction/base.html" %}

{% block content %}
<h2 class="mb-4">{{ title }}</h2>

<div class="row">
    <div class="col-md-6 col-lg-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                <label class="form-label">Megnevezés</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <div class="mb-3">
                <label class="form-label">Kategória</label>
                {{ form.category }}
                {{ form.category.errors }}
            </div>

            <div class="mb-3">
                <label class="form-label">Induló ár (HUF)</label>
                {{ form.starting_price }}
                {{ form.starting_price.errors }}
            </div>

            <div class="mb-3">
                <label class="form-label">Árverés ideje</label>
                {{ form.auction_time }}
                {{ form.auction_time.errors }}
            </div>

            <div class="mb-3">
                <label class="form-label">Kép</label>
                {{ form.image }}
                {{ form.image.errors }}
            </div>

            <button type="submit" class="btn btn-primary">Mentés</button>
            <a href="{% url 'manage_items' %}" class="btn btn-secondary ms-2">Mégsem</a>
        </form>
    </div>
</div>
{% endblock %}
